table {
	width: 340px;
	border: none;
	margin: 15px;
	margin-left: 10px;
	padding: 0px;
}


.profile-body{
	margin-left: 410px;
	margin-top: 30px;
}

#new-project{
	margin-left: 6px;
	margin-bottom: 30px;
}
table{
	margin-left: 80px;
}
table td{
	padding: 10px;
	font-size: 14px;
	border: none;
}

table th{
	margin-bottom: 20px;
	padding-left: 30px;
	font-size: 25px;
	border: none;
	font-weight: 3;
}
thead tr th{
	padding: 20px;
	padding-left: 60px;
	color: #B0B0B0;
}

#paginate{
	margin-left: 150px;
}
